*{
    padding:0%;
    margin:0%;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    display:flex;
   justify-content: space-around;
   background-color:#D9D9D9;
   flex-wrap:wrap;
   align-items: center;
   gap:30px;
}
#navbar{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    /* justify-content: space-between; */
    gap:30px;
    padding:20px 0px;
   
}
#logo{
    font-weight: 600;
    font-size: 20px;
}
a{
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(14, 15, 15);
    
}
a:hover{
    text-decoration: underline;
}
header button{
    background-color:#382525;
    border: none;
    color:white;
    border-radius: 10px;
    padding:10px 20px;

}
header button:hover{
    opacity: 0.8;
    cursor: pointer;
}
#hero{
   min-height:200px;
   padding:20px 20px;
   color:aliceblue;
   background-color: #3F1919;
   row-gap: 40px;
   text-align: center;
   line-height: 40px;
   align-content: space-around;
}
#hero button{
    padding:10px 20px;
    background-color:#E26464;
    color:aliceblue;
    border-radius: 10px;
    border:none;
}
#hero button:hover{
    cursor:pointer;
    opacity: 0.8;
}
#content{
    width:80%;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}
.section{
    background-color: #D9D9D9;
    width:300px;
    height:350px;
    border-radius:10px;
}
.section p, h3,a{
    padding:0px 20px;
}

.section h5{
    text-align: end;
    padding-right: 20px;
    padding-bottom:20px;
}
img{
    width:250px;
    height: 167px;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top:-20px;
    right:-23.5px;
}
#footer{
    width:100%;
    min-height: 400px;
    margin:auto;
    background-color: #3F1919;
}
#ftr{
    width:80vw;
    min-height:325px;
    margin:auto;
    background-color: #D9D9D9;
    display: flex;
    justify-content:space-around;
     flex-wrap:wrap;
    
}
section{
    width:20vw;
    margin:30px;
}
section p,h5{
    padding: 12px 0px;
}
section a{
    border:2px solid transparent;
    margin:12px 0px;
}
#cr{
    background-color: #E26464;
    width:80%;
    margin:auto;
    height: 75px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* flex-wrap:wrap; */
}
#cr{
    color:aliceblue;
    font-size: 18px;
    padding-left: 30px;
}
section input{
    width:max-content;
    height: 44px;
    color:#FFF3F3;
    color:#000;
    padding:12px;
}
section button{
    height:44px;
    background-color: #E26464;
    padding:12px;
}
#a-tag a{
    display:block;
}








